<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WG26</title>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/home(pid=${pid})}">Trang chủ</a></li> 
                        <li><a th:href="@{/home/games(pid=${pid})}">Giải trí</a></li>
                        <li><a th:href="@{/home/movies(pid=${pid})}">Xem phim</a></li>
                        <li><a th:href="@{/home/books(pid=${pid})}">Đọc sách</a></li>
                        <li><a th:href="@{/home/about(pid=${pid})}">Liên hệ</a></li> 
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${param.pid[0]} == 1 or ${param.pid[0]} == 2">
                        <li>
                            <a th:href="@{/home/cart(pid=${pid})}" th:if="${param.pid[0]} == 1"><span class="glyphicon glyphicon-shopping-cart" ></span> Giỏ hàng</a>
                            <a href="#" th:if="${param.pid[0]} == 2" ><span class="glyphicon glyphicon-shopping-cart"></span> Thêm Ứng Dụng</a>              	
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${userName}"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="about-us">
                                <li><a th:href="@{/home/user(pid=${pid})}"><span class="glyphicon glyphicon-user"></span> Thông Tin Cá Nhân</a></li>
                                <li><a th:href="@{/home/change-pass}"><span class="glyphicon glyphicon-refresh"></span> Đôi Mật Khẩu</a></li>
                                <li th:if="${param.pid[0]} == 2"><a th:href="@{/admin/get-all-user(pid=${pid})}"><span class="glyphicon glyphicon-list"></span> Quản Lý Tài Khoản</a></li>
                                <li th:if="${param.pid[0]} == 2"><a th:href="@{/admin/get-all-app(pid=${pid})}"><span class="glyphicon glyphicon-tasks"></span> Quản Lý Ứng dụng</a></li>
                                <li><a th:href="@{/home/change-pass}"><span class="glyphicon glyphicon-usd"></span> Nạp Tiền</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Lịch Sử Mua Hàng</a></li>
                                <li class="divider"></li>
                                <li class="text-center">
                                    <form method="post" th:action="@{/logout}">
                                        <button type="submit" class="btn btn-secondary">Đăng xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${param.pid[0]} == 0 ">
                        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-user "></span> Đăng nhập</a></li>
                        <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
                    </ul>    
                </div>
            </div>
        </nav>
    </div>
</body>
</html>