.container{
    border: 1px solid rgba(0 ,0,0, 0.2);
    border-radius: 10px;
    background-color: #e3f0ff;
}

body{
    background-color: #58668b;
}

/* Phần register.html */
.dktk{
    color: #58668b;
    font-weight: bold;
}
.logoreg{
  width: 150px;
}
.regisform{
  margin-top: 100px;
}

/* Phần của login.html */
.loginform{
    margin-top: 100px;
}
.dn{
    color: #58668b;
    font-weight: bold;
}

/* Phần của forgetpass.html */
.logoforget{
    width: 150px;
}
.qmk{
    color: #58668b;
    font-weight: bold;
}
.forgetpass{
    margin-top: 200px;
}

/* Phần của changepass.html */
.logochange{
    width: 150px;
}
.dmk{
    color: #58668b;
    font-weight: bold;
}
.changepassform{
    margin-top: 80px;
}

 /*Phần này của home.html mới */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
.jumbotron {
    margin-bottom: 0;
}
.titleapp{
  text-decoration: none;
  color: white;
}
.homepage{
  background-color: #e3f0ff;
  width: 100%;
}
.homepageborder{
  font-size: 20px;
  font-weight: bold;
}
/*footer {
    background-color: #f2f2f2;
    padding: 25px;
}
*/
.searchlogo{
  width: 25px;
}

.logohomepage{
    width: 300px;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.font{
    font-size: 20px;
    text-align: center;
}
.imgcmr{
  height : 300px;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
}

#menu {
  list-style: none;
  height: 48px;
}

#menu li {
  text-align: left;
  color: #fff;
}

#menu li a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 15px;
  color: #fff;
  background-color: #333;
}

#menu>li {
  float: left;
  border-right: 1px solid #fff;
  position: relative;
}

#menu>li>ul.dropdown_menu {
  position: absolute;
  list-style: none;
  display: none;
  top: 48px;
  left: 0;
  width: 200px;
}

#menu>li:hover>a {
  background-color: #5C5C5C;
}

#menu>li:hover>ul.dropdown_menu {
  z-index: 100;
  display: block;
}

ul.dropdown_menu>li>ul.submenu {
  position: absolute;
  display: none;
  left: 200px;
  list-style: none;
  width: 200px;
}

ul.dropdown_menu>li:hover>a {
  background-color: #5C5C5C !important;
}

ul.dropdown_menu>li:hover>ul.submenu {
  z-index: 100;
  display: block;
}

ul.submenu>li:hover>a {
  background-color: #5C5C5C !important;
}

.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.arrow-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

.arrow-right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
}

/* Phần này của userform + appinformation.html*/
.userform {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background-color: #58668b;
  position: relative;
  height: 100%;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.userimg{
  width: 200px;
}
.appimg{
  width: 220px;
}
.logouserform{
  width: 200px;
}
.logoappinfor{
  width: 210px;
  
}
.ins{
  width: 40px;
}
.insname{
  display: inline-block;
}
.titleuserform{
  color: #58668b;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  
}
.description{
  width: 200%;
  font-size: 20px;
}
.checked{
  color: orange;
}
.pay{
  font-size: 25px;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #e3f0ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
/*Phần này của lichsugiaodich.html */
.titlelichsu{
  color: #58668b;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}
.titlegiaodich{
  font-size: 20px;
}
.logolichsu{
  width: 15%;
}
/*Phần này của thangcap.html */
.logothangcap{
  width: 200px
}
/*Phần này của php*/
.warning{
  font-size: 20px;
  text-align: center;
}