<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Thông tin ứng dụng</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="userform m-5">

   <body class="userform m-5">

    <div class="container" th:each="app : ${appInfo}">
        <form method="POST" th:action="@{/home/add-to-cart(pid=${pid},id=${app.appName})}"  th:object="${cart}">
            <div class="row gutters">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 p-3" >
                    <div class="card h-100 ">
                        <div class="card-body ">
                            <div class="account-settings ">
                                <div class="user-profile mt-5">
                                    <div class="user-avatar">
                                        <img th:src="${app.avatarPath}" alt="avatar" class="
                                        d-block appimg m-auto">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class=" titleuserform">Thông tin ứng dụng</h6>
                                </div>

                                <div class="col-12">
                                    <div class="form-group mt-5 text-center">
                                        <h1 th:text="${app.appName}"></h1>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <h3>Thể loại: <span th:text="${app.genre}"></span></h3>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <h3><span th:text="${app.tagName}"></span></h3>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <h3>Mô tả : </h3>
                                        <div class="form-group description">
                                            <p th:text="${app.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 th:if="${param.error}" class="text-center text-danger">Ứng dụng đã tồn tại trong danh sách mong muốn</h3>
                            <h3 th:if="${param.success}" class="text-center text-success">Ứng dụng đã được thêm vào danh sách mong muốn</h3>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                    	<a th:href="@{/home(pid=${pid})}" class="btn btn-primary">Quay lại</a>
                                        <button type="submit" id="cart" name="addCart" class="btn btn-primary" th:if="${param.pid[0]} == 1" >Thêm Giỏ Hàng</button>
                                        <a type="submit" id="download" name="download" th:href="@{${app.downloadPath}}" class="btn btn-primary" download th:if="${param.pid[0]} != 0" >Tải xuống</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>