<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
<title>Trang chủ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="homepage">
        <div class=" text-center homepageborder">
            <img src="/img/logo2.png" class="mt-3 logohomepage">
            <p>WG26 - For The Best Web Application</p>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a th:href="@{/home/games(pid=${pid})}">Giải trí</a></li>
                    <li><a th:href="@{/home/movies(pid=${pid})}">Xem phim</a></li>
                    <li><a th:href="@{/home/books(pid=${pid})}">Đọc sách</a></li>
                    <li><a th:href="@{/home/about(pid=${pid})}">Liên hệ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${param.pid[0]} == 1 or ${param.pid[0]} == 2">
                	<li>
                		<a th:href="@{/home/cart(pid=${pid})}" th:if="${param.pid[0]} == 1"><span class="glyphicon glyphicon-shopping-cart" ></span> Giỏ hàng</a>
                		<a href="#" th:if="${param.pid[0]} == 2" ><span class="glyphicon glyphicon-shopping-cart"></span> Thêm Ứng Dụng</a>              	
                	</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${user.lastName} + ' ' + ${user.firstName}"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a th:href="@{/home/user(pid=${pid})}"><span class="glyphicon glyphicon-user"></span> Thông Tin Cá Nhân</a></li>
                            <li th:if="${param.pid[0]} == 2"><a th:href="@{/home/changepass}"><span class="glyphicon glyphicon-usd"></span> Quản Lý Tài Khoản</a></li>
                            <li th:if="${param.pid[0]} == 2"><a th:href="@{/home/changepass}"><span class="glyphicon glyphicon-usd"></span> Quản Lý Ứng dụng</a></li>
                            <li th:if="${param.pid[0]} == 2"><a th:href="@{/admin/add-card}"><span class="glyphicon glyphicon-usd"></span> Tạo Mã Thẻ</a></li>
                            <li><a th:href="@{/home/changepass}"><span class="glyphicon glyphicon-usd"></span> Nạp Tiền</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Lịch Sử Mua Hàng</a></li>
                            <li class="divider"></li>
                            <li class="text-center">
                                <form method="post" th:action="@{/logout}">
                                    <button type="submit" class="btn btn-secondary">Đăng xuất</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right" th:if="${param.pid[0]} == 0 ">
	                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-user "></span> Đăng nhập</a></li>
	                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
                </ul>    
            </div>
            
        </div>
    </nav>
    <div class="container">
        <div class="row">
	        <div class="col-12">
	            <h1 class="title">Ứng Dụng Phổ Biến</h1>
	        </div>
	        <div class="col-12 font">
	            <div class="col-sm-4" th:each="app : ${appList}">
		            <a th:href="@{/home/detail(pid=${pid},id=${app.appName})}">
	                   <div class="panel">
	                    	<div class="panel-body"><img th:src="${app.avatarPath}" class=" img-responsive imgcmr"alt="Image"></div>
		                    <div class="panel-footer" th:text="${app.appName}"></div>
		                </div>
		            </a>
	            </div>
          </div>
     </div>

    <!-- <footer class="container-fluid text-center">
        <p>Online Store Copyright</p>
    </footer> -->

</body>

</html>