<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="userform m-5">
    <div class="container" th:each="user : ${userInfo}">
    <form method="POST" enctype="multipart/form-data" th:action="@{/home/user}" th:object="${user}">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 p-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings  ">
                            <div class="user-profile mt-5">
                                <div class="user-avatar">
                                    <img th:src="${user.avatarPath}" alt="avatar"
                                        class="img-thumbnail mx-auto d-block userimg">
                                        <form>
                                            <input type="file" id="myFile" name="avatarPath">
                                        </form>
                                </div>
                            </div>

                            <div class="row">
                                <img src="/img/logo2.png" class="logouserform m-auto ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class=" titleuserform">Thông tin tài khoản</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="lastname">Họ : </label>
                                    <input type="text" class="form-control" id="lastname" name="firstName" placeholder="Nhập họ của bạn" th:value="${user.firstName}" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstname">Tên : </label>
                                    <input type="text" class="form-control" id="firstname" name="lastName"
                                        placeholder="Nhập tên của bạn" th:value="${user.lastName}" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email : </label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Nhập email của bạn" th:value="${user.email}" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="money">Số tiền (VNĐ) :</label>
                                    <input type="text" class="form-control" th:value="${user.cashAmount}" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 ">Thông tin cá nhân ( nếu có )</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phonenumber">Số điện thoại : </label>
                                    <input type="text" class="form-control" id="phonenumber"
                                        placeholder="Nhập số điện thoại của bạn" name="phoneNumber" th:value="${user.phoneNumber}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="gender">Giới tính : </label>
                                    <div class="gender">
                                        <select id="Gender" name="gender" class="form-control" th:switch="${user.gender}">
                                            <option value="Emp" disabled selected>Giới tính của bạn là ?</option>
													
												<span th:case="'Nam'">
													<option label="Nam" value="Nam" name="GIOITINH" selected>Nam</option>
													<option label="Nữ" value="Nữ" name="GIOITINH">Nữ</option>
													<option label="Khác" value="Khác" name="GIOITINH">Khác</option>
												</span>

												<span th:case="'Nữ'">
													<option label="Nam" value="Nam" name="GIOITINH">Nam</option>
													<option label="Nữ" value="Nữ" name="GIOITINH" selected>Nữ</option>
													<option label="Khác" value="Khác" name="GIOITINH">Khác</option>
												</span>

												<span th:case="'Khác'">
													<option label="Nam" value="Nam" name="GIOITINH">Nam</option>
													<option label="Nữ" value="Nữ" name="GIOITINH">Nữ</option>
												</span>
										</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a th:href="@{/home(pid=1)}" type="submit" name="changepass" class="btn btn-primary">Quay lại</a>
                                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</body>

</html>